server {
    listen 80;

    location / {
        proxy_pass $SOURCE_PROTOCOL://$SOURCE_DOMAIN;
        proxy_set_header Host              $SOURCE_DOMAIN;
        include /etc/nginx/templates/proxy.conf;
    }
}
